.Header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  background-color: #f6f5ff;
  padding: var(--container-pad);
  position: fixed;
}
.Header__logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 30px;
  border-bottom: 2px solid var(--primary-color-blue);
}
.Header__logo span {
  font-weight: 600;
  letter-spacing: -0.5px;
  color: var(--primary-color-blue);
}
.HeaderNav {
  height: 100%;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HeaderNav__link {
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.8px;
  margin: 0 15px;
  transition: 0.3s ease-in-out;
}
.HeaderNav__link:hover {
  color: var(--primary-color-blue);
}
